html {
  --text-colour: #424141;
  --background-colour: #ffffff;

  color: var(--text-colour);
  background-color: var(--background-colour);
}

html.dark {
  --text-colour: #ffffff;
  --background-colour: #272727;
}
